body{
	background-color:light-grey;
	margin:0 auto;
	font-family: serif;
}
a{
	text-decoration: none;
	text-decoration-color: red;
}

a.hover{
	background-color: pink;
}
.block{
	margin: 0 auto;
}

.cool{
	visibility:hidden;
	width:100px;
	height:100px;
	background-color: green;
	transition: background-color 1s;
}

.cool.red{
	visibility: visible;
	background-color:red;
}